<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/library">Library</a></li>
	        		<li><a href="/wishlist">Wishlist</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://airtable.com/tblm7EVmjFM3V1hQL/viwYErJ07teOiWSOk?blocks=hide">Airtable</a></li>
	        		<li><a href="https://github.com/TsundokuVellichor">github.com/TsundokuVellichor</a></li>
				</ul>
			</footer>
		</body>
	</html>
